<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mh_dao.ClassificationMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.mh_entity.Classification">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="nav_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, nav_id, title, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mh_classification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mh_classification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.mh_entity.Classification">
    insert into mh_classification (id, nav_id, title, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{navId,jdbcType=INTEGER}, #{title,jdbcType=CHAR}, 
      #{remark,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.mh_entity.Classification">
    insert into mh_classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="navId != null">
        nav_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="navId != null">
        #{navId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.mh_entity.Classification">
    update mh_classification
    <set>
      <if test="navId != null">
        nav_id = #{navId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.mh_entity.Classification">
    update mh_classification
    set nav_id = #{navId,jdbcType=INTEGER},
      title = #{title,jdbcType=CHAR},
      remark = #{remark,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>